@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('react-photo-view/dist/react-photo-view.css');

:root {
  margin: 0;
  background-color: #fff;
  color: #000;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

/* Overrides for react-photo-view/dist/react-photo-view.css */

.PhotoView-Slider__BannerWrap {
  background-color: unset;

  svg {
    border-radius: 50%;
    margin-top: 16px;
    margin-right: 16px;

    transition: fill 0.3s ease;

    fill: black;

    &:hover {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}

.PhotoView-Slider__ArrowLeft > svg,
.PhotoView-Slider__ArrowRight > svg {
  border-radius: 50% !important;
}

.PhotoView-Slider__Backdrop {
  background: rgb(255, 255, 255) !important;
}
